/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* banner style start */
.banner{
    background-color: #2D25A0;
}
.banner-section{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px; 
    padding-bottom: 80px;          
}
.banner-tag{
    width: 50%;
    margin-top: 30px;
}
.banner-img img{
    width: 100%;       
}
.banner-img{
    width: 60%;
}
.banner:hover img{
    width: 100%;
    transform: scale(1.2);
    transform: rotate(50deg);
    transition: width 1s , transform 2s ease-in-out;
}
h1{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 26px;   
}
.banner-tag a{   
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 16px;
    padding: 10px 24px 10px 24px;    
}
/* banner style end */

/* Players style  */
.players{
    width: 70%;
    margin:auto;
    margin-top: 70px;   
}
.player{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.individual-player{
    padding: 15px;
    box-shadow: 0px 0px 30px 2px #dddcdc;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 27px;    
}
.player-img{
    overflow: hidden;
}
.player-img img{
    width: 100%;    
}
.player-img:hover img{
        transform: scale(1.3);
        transition: transform 1s ease-in-out;
}
.player-info p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}
/* Players style end  */


/* logo style start  */

.logo-img{
    width: 40%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 20px;
}
.logo-img img{
    width: 100%;
}
/* logo style end  */

/* team style  */
.team-info{
    margin-top: 80px;
}

.team-info h1 , .gallery h1{
    color: #2D25A0;
    text-align: center;   
}
.team{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-row-gap: 50px;    
}
.teams{
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 30px 2px #dddcdc;
    padding-top: 20px;
    padding-bottom: 40px;
}
.individual-team img{
    width: 100%;
}
.individual-team:hover img{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
.about{
    margin: auto;
    color: white;
    text-align: center;
    text-decoration: none; 
    background-color: #E02C6D;  
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    width: 50%;    
}
.about a{
    text-decoration: none;
    color: aliceblue;
}
/* team style end */


/* gallery  start*/
.gallery{
    margin-top: 80px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: auto;
    width: 80%;   
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px; 
}
.photo{
    box-shadow:0px 0px 10px 2px #bebcbc;
    overflow: hidden;
}
.photo:hover img{
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}
/* gallery  end */


/* Footer style start */
.social-media{
    width: 40%;
    margin: auto;
    text-align: center;    
}
.social-media i{
    background-color: #dadbdd;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
    font-size: 22px;
    text-align: center;
    color: #969BAB;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 20px;
}
.social-media p{
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 63px;
}
/* Footer style end */


/* media query  */

/* for iPads, Tablets */

@media only screen and (min-width:700px) and (max-width:900px) {

    /* banner part  */
    .banner-img{
        margin-top: 100px;
        width: 100%;       
    }
    .banner-img img{
        width: 100%; 
        margin-left: 60px;           
    }
    .banner-tag{
        width: 40%;
        margin-top: 30px;
    }
    /* player part  */
    .player{     
        display: grid;
        grid-template-columns: repeat(2,1fr);
    
        }
        /* team part  */
        .team{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-row-gap: 50px;
        }
        /* gallery part  */
        .photos{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 20px;
            grid-column-gap: 20px;
            margin: auto;
            width: 80%;
}
}
    
/* For mobile screen  */

@media only screen and (max-width:700px){
    
    /* banner part  */
    .banner-section{
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: left;
        align-items: center;                 
    }
    .banner-tag{
        width: 50%;
        margin-right: 80px;
    }
    .banner-img{
        margin-top: 50px;
        width: 329px;
        height: 259.17px;
    }
    h1{        
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 26px;       
    }

    /* players part  */
    .player{     
    display: grid;
    grid-template-columns: repeat(1,1fr);

    }
    .team{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 50px;
    }
    .about a {        
        font-size: 10px;   
    }
    .about{
        padding: 3px 5px 3px 5px;
    }

    /* gallery  */
    .photos{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    /* logo style  */
    .logo-img{
        width: 60%;

    }

    /* footer  */
    .social-media{
        width: 100%;
    }
    .social-media p{
        text-align: center;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 100px;
    }
    .social-media i{   
        padding: 5px 5px 5px 5px;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 4px;
}
}
